<%- layout('./layout/boilureplate') %>

    <body> 
        <%- include('./includes/filterNavBar.ejs') %>
        <h1>All Listings</h1>
        <div class="allListingContainer">
            <% for(list of listings) { %>
                <a class="listingCard" href="/list/<%= list._id %>">
                    <div class="listingImgBox">
                        <img src="<%= list.listingImages[0].link %>"
                            alt="img">
                    </div> 
                    <div class="listingInfoBox">
                        <h6 class="mb-0 mt-0"><%= list.title %></h6> 
                        <p class="mb-0 mt-0">$<%= list.price %>/month <b class="gstPrice active">+18%GST</b></p>
                    </div>
                </a>
            <% } %>
        </div>
    </body>